.search-courses-container {
    background-color: #920f0f;
    text-align: center;
    padding: 2rem 0;
}

.search-courses-container h2 {
    color: #FFF;
    font-size: 42px;
    margin-bottom: 15px;
}

.search-courses-container p {
    color: #D5D5D5;
    font-size: 24px;
    margin-bottom: 25px;
}

.search-courses-container input {
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.search-courses-container input[type="text"] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.courses-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
    text-align: center;
}

.courses-container h2 {
    font-size: 36px;
    text-decoration: underline;
}

.courses-container p {
    font-size: 20px;
}

.courses-container {
    display: flex;
    padding: 0 20px 0 20px;
    justify-content: space-around;
    width: 100%;
    margin: 50px auto 0;
}

.course {
    flex: 1;
    max-width: 250px;
    margin: 0 20px;
    box-shadow: 5px 5px 10px black;
}

.course ul {
    padding: 0;
}

.course li {
    padding-top: 15px;
    list-style: none;
    height: 70px;
    line-height: 30px;
    background-color: #e8e9ea;
    color: #333;
    font-size: 20px;
}

.course .price {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2cc762;
    color: #FFF;
    line-height: 90px;
    text-align: center;
    margin: 0 auto -50px;
    font-size: 18px;
    position: relative;
}

.course .course-name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    background-color: #202b24;
    margin: 6px;
    text-align: center;
    line-height: 20px;
}

.course .course-btn {
    background-color: #2cc762;
    color: #FFF;
    font-size: 24px;
    height: 75px;
    line-height: 45px;
    cursor: pointer;
}

.course .recommended {
    background-color: #f45c57;
}

.img-course {
    border: #e8e9ea solid;
    border-radius: 5px;
    width: 90%;
}